<?xml version="1.0"?>
<launch>

  <!-- Robot Description -->
  <arg name="model" value="$(find xacro)/xacro --inorder $(find iqr_sz_description)/urdf/iqr_sz_robot.urdf.xacro"/>
  <param name="robot_description" command="$(arg model)"/>
  <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- robot -->
  <include file="$(find husky_base)/launch/base.launch">
    <arg name="pub_description" value="false"/>
    <arg name="enable_ekf" value="true"/>
  </include>

  <!-- VLP16 -->
  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
    <arg name="device_ip" value="192.168.33.7"/>
    <arg name="frame_id" value="velodyne"/>
    <arg name="max_range" value="100.0"/>
    <arg name="rpm" value="600"/>
  </include>

  <!-- pointcloud to laserscan -->
  <include file="$(find iqr_sz_bringup)/launch/include/pointcloud_to_laserscan.launch.xml">
  </include>

  <!-- IMU -->
  <include file="$(find hwt9053_ros_driver)/launch/bringup.launch">
    <arg name="baudrate" value="921600"/>
    <arg name="frame_id" value="/iqr_imu_link"/>
    <arg name="sensor_com" value="/dev/imu_com"/>
    <arg name="pub_mag_msg" value="false"/>
    <arg name="publish_rate" value="100"/>
  </include>

  <!-- Universal Robots UR5 Setup -->
  <include file="$(find iqr_sz_bringup)/launch/include/ur5.launch.xml">
    <arg name="prefix" value="ur5_arm_"/>
    <arg name="robot_ip" value="192.168.33.11"/>
    <arg name="min_payload" value="0.0"/>
    <arg name="max_payload" value="5.0"/>
  </include>

  <!-- Robotiq 85 Gripper Setup -->
  <node pkg="robotiq_85_driver" type="robotiq_85_driver" name="robotiq_85_driver" respawn="true" output="screen">
    <param name="num_grippers" value="1"/>
    <param name="comport" value="/dev/gripper_com"/>
    <param name="baud" value="115200"/>
    <param name="prefix" value=""/>
    <remap from="/gripper/joint_states" to="/joint_states"/>
  </node>

  <!-- Robotiq ft300 Setup -->
  <node pkg="robotiq_ft_sensor" type="rq_sensor" name="robotiq_ft300_driver" respawn="true" output="screen">
    <param name="serial_id" value="ft_com"/>
    <param name="frame_id" value="robotiq_ft_frame_id"/>
  </node>

  <!-- realsense d455 -->
  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
    <arg name="tf_prefix" value="camera"/>
    <!-- <arg name="enable_pointcloud" value="true"/> -->
  </include>

  <!-- zed -->
  <include file="$(find zed_wrapper)/launch/zed_no_tf.launch">
    <arg name="publish_urdf" value="false"/>
    <arg name="base_frame" value="zed2_link"/>
  </include>

</launch>